<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Image Upload Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh6PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>

    <style>
        .card{margin-bottom: 30px}
        .card-header,.btn{background-color: #51889b; color:white}


    </style>
</head>
<body>
<!--/*@thymesVar id="motorcycle" type="com.sam.springbootimagecrudexample.domain.Motorcycle"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="pannel-group">
                <div class="card card-primary">
                    <div class="card-header">
                        <h6 class="card-title">Upload a new motorcycle image</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                                        th:object="${imageFileModel}" th:action="@{'/motorcycle/' + ${imageFileModel.getId()} + '/image'}">
                                    <input type="hidden" th:field="*{id}"/>
                                    <label class="control-label">Select File</label>
                                    <input id="file" name="file" type="file" class="file">
                                    <span  th:if="${#fields.hasErrors('file')}">
                                        <ul>
                                            <li class="text-danger" th:each="err : ${#fields.errors('file')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>